@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1598063183638-4ffe7c5f0f8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Unbounded';
  overflow: hidden;
}
h1{
  position: absolute;
left: 400px;
top: 250px; 
  font-weight: 700;
  color:rgba(255, 175, 175, 0.712);
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
}
.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.slide{
  position: relative;
  height: 90vh;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  flex-grow: 1;
  opacity: 0.5;
  transition: all 1.6s;
  cursor: pointer;
}
.slide h3{
  position: absolute;
  bottom: 0;
  left: 40px;
  color: rgb(251, 226, 226);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 3s;
}
.slide.active h3{
  opacity: 1;
}
.slide.active{
  flex-grow: 30;
  opacity: 1;
}